## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log
/package-lock.json

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/service-worker.js
